body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#gameCanvas {
    background-color: #060606;
    display: block;
    margin: 20px auto;
    border: 3px solid #ab0e0e;
}

#score-board {
    font-size: 24px;
    margin: 30px;
}
#retryButton {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0095DD;
    color: white;
    border: none;
    cursor: pointer;
}

#retryButton:hover {
    background-color: #005f99;
}


